:root {
    --border-color: #797979; 
}

/* .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
} */

.app__table {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    width: 100%;
    margin-top: 35px;
}

.tr__header {
    position: fixed;
    background-color: var(--border-color);
    max-width: inherit;
    top: 0;
}
.tr__header td{
    padding: 5px 5px;
    width: 150px;
}

.app__ceil{
    border: 1px solid var(--border-color);
    padding: 5px 5px;
    width: 150px;
}